<!--<div class="center jumbotron"> -->
<div>
  <div>
    <h1>Home</h1>
    <div class="button-wrapper">
      <%= button_to "Sign up", sign_up_path, :class => "btn btn-primary btn-lg", :method => :get  %><br />
      <%= button_to "Log in", log_in_path, :class => "btn btn-primary btn-lg", :method => :get  %><br />
      <%= button_to "All products", products_path, :class => "btn btn-primary btn-lg", :method => :get  %><br />
    </div>
  </div>
